body {
    margin: 0;
    background: #f2f2f7;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
    text-align: center;
}

.navbar {
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#logo {
    font-size: 28px;
    font-weight: 700;
}

.container {
    margin-top: 60px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 25px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 18px;
}
